<!DOCTYPE html>
<html>
    <head>
        <title>Annemarleen Bosma</title>
    </head>
    <body>
        <div>
            <h1><a href="https://www.linkedin.com/in/amholbosma" target = "_blank">Linked In</a></h1>
        </div>
         
        <!-- header start -->
        <div id="header" class="section">
            <img alt="" class="img-circle" src="http://primo.ws/files/Disks/Avatars/Avatar_girl_face3.png"height="200px" width="250px" border="1px" alt="" />
            <p id="top">Annemarleen Bosma</p>
            <p><a href="#bottom">To the bottom</a></p>>
        </div>
        <!-- header end -->
    
    <body bgcolor="#F5FFFA">
        <!-- About Me section start -->
        <div class="section">
            <h1 align = "center"><span>About Me</span></h1>
            <hr width="50%">
            <p align="center"> Hey! I'm <strong>Annemarleen</strong>.</p><form align="center"><img src="/home/annemarleen/Afbeeldingen/AnneB.jpg" height="200px" width="250px" border="1px" alt="" />
            <p align="center"><br/>I am learning to program. It is lots of fun and I get to know some awesome people along the way.<br> Learning to code gave me <i>problem-solving skills</i> and a way to communicate with others on a technical level.<br/>I am able to create a decent website and I am going to use my coding skills to get a better job.<br/>I learned it all at <strong>SoloLearn</strong> where they build your self-esteem and this keeps me <b>motivated</b>.<br/><br/>Join me in this rewarding journey. You'll have fun, get help, and learn a lot along the way!
            </p>
            <p class="quote"><span style="color:green">"Declare variables, not war"</span></p>
        </div>
        <!-- About Me section end -->
         <hr width="100%">
          <!-- My Skills section start -->
        <div class="section"> 
            <h1><span>My Skills</span></h1>
            <ul>
            <a href="" target="_blank"><li>Python <br/>
                <progress min="0" max="100" value="80"></progress></li></a>
            <a href="" target="_blank"><li>C# <br/>
                <progress min="0" max="100" value="80"></progress></li></a>
            <a href="" target="_blank"><li>HTML <br />
                <progress min="0" max="100" value="80"></progress>
                </li></a>
            <a href="" target="_blank"><li>CSS<br/>
                <progress min="0" max="100" value="80"></progress></li></a>
            </ul>
        </div>
         <!-- My SKills section end -->
            <hr width="100%">
        
         <hr width="100%">
                <!-- Media section start -->
        <div class="section">
            <h1><span>My Media</span></h1>
            <iframe height="150" width="300" src="https://www.youtube.com/embed/Q6_5InVJZ88" allowfullscreen frameborder="2"></iframe>
        </div>
        <!-- Media section end -->
        <hr width="100%">
        <!-- Form section start -->
       <div class="section" align="center">
                <h1><span>Contact Me</span></h1>
            <form align="center">
                <input name="name" placeholder="Name" type="text" required /><br/>
                <input name="email" placeholder="Email" type="email" required /><br/>
                <textarea name="message" placeholder="Message" required ></textarea><br/>
                <input type="submit" value="SEND" class="submit"/><br/>
            </form>
        </div>
        <!-- Form section end -->
                       
        <hr width="100%">                      
        <!-- Follow Me section start -->
        <div class="section" id="contacts" align="center">
            <h1 id="bottom"><span>Follow Me</span></h1>
            <div>
                <a href="https://www.sololearn.com/" target="_blank">
                    <img alt="SoloLearn" src="https://www.sololearn.com/Uploads/icons/sololearn.png" height="80px" width="80px" alt=""/>
                </a>
                <a href="#">
                    <img alt="Facebook" src="https://www.sololearn.com/Uploads/icons/facebook.png"height="80px" width="80px" alt=""/>
                </a>
                <a href="#">
                    <img alt="Twitter" src="https://www.sololearn.com/Uploads/icons/twitter.png" height="80px" width="80px" alt=""/>
                    <p> <a href="#top">Back to the top</a></p>
                </a>
            </div>
        </div>
        <!-- Follow Me section end -->
        
        <div align="right" class="copyright">
            &copy; 2017 My Blog. All rights reserved.
        </div>
        
    </body>
</html>
    </body>
</html>